<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
      }
      .container {
        width: 80%;
        margin: auto;
      }
      .btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        color: #ffffff;
        background: #2563eb;
        padding: 15px 40px 15px 40px;
        text-decoration: none;
        border: none;
      }

      .btn:hover {
        background: #02014a;
        text-decoration: none;
      }

      .header {
        height: 110px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), 
                        url('') no-repeat center center;;
        background-size: 677px ;
        border-radius: 5px;
        
      }
      .main {
        position: relative;
      }

      h2 {
        font-size: 28px;
        line-height: 28px;
        margin: 28px 0;
      }

      h3 {
        font-size: 18px;
        margin-top: 54px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 1.5;
      }
      .logo {
      max-width: 160px;
      height: auto;
      display: block;
      margin: auto; /* Center the image within its container */
    }
    h2{
      color: #2563eb;
    }


    </style>
    
    <title>Zutaonline Email</title>
    
  </head>
  <body> 
    <section class="main">
      
      <div class="header" >
        <div class="container">
             
        </div>
      </div>

      <div class="content container">
           <h3>Hello! {{name}} 😊</h3> 
        <p>
          Thank you for submitting your {{subject}} on Zutaonline. Unfortunately, after a thorough review, we regret to inform you that your document did not meet the required standards for approval.
        </p>
          <br/>

          <h2>Reasons for Rejection:</h2>
          <p>{{reason}}</p><br/>
        
         <p>To proceed with your account verification, we kindly request that you upload a new document that meets the requirements outlined in our guidelines. Please ensure the following:.</p>

          <ol>
            <li>The document is complete and clearly legible</li> <br>
            <li>The document matches the type specified in the verification process</li> <br>
            <li>It is uploaded in an acceptable format</li>
          </ol><br>

          <p>If you have any questions or need assistance with the re-upload process, please don’t hesitate to contact us at [help@spellamart.com]</p><br>

           <p>We value your commitment to Tuvras and look forward to resolving this promptly so you can have full control of your dashboard</p><br>
        <p>
          Warmest Regards,<br />
          <a href="">Zutaonline Team</a><br/>
        </p>
      </div>
    </section>
  </body>
</html>
